<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>:
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :scrum_master %>:
	  <td><%= f.collection_select :scrum_master_id, @team.members, :id, :name, { :include_blank => true } %></td>
  </div>
  <div class="field">
    <%= f.label :product_owner %>:
	  <td><%= f.collection_select :product_owner_id, User.all, :id, :name, { :include_blank => true } %></td>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
