- url = @team.new_record? ? teams_path : team_path(@team)
= semantic_form_for(@team, :url => url) do |form|
  = form.inputs do
    = form.input :name
    = form.input :scrum_master, :collection => @team.members
    = form.input :product_owner, :collection => @team.members
  = form.buttons do
    = form.commit_button
    %li.button.cancel
      %input{ :type => 'submit', :name => 'cancel', :value => 'Cancel' }
