<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr>
    <td class='labelCell'><%= f.label :name %>:</td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td class='labelCell'><%= f.label :scrum_master %>:</td>
	  <td><%= f.collection_select :scrum_master_id, @team.members, :id, :name, { :include_blank => true } %></td>
  </tr>
  <tr>
    <td class='labelCell'><%= f.label :product_owner %>:</td>
	  <td><%= f.collection_select :product_owner_id, User.all, :id, :name, { :include_blank => true } %></td>
  </tr>
  <tr class="actions">
	  <td></td>
    <td><%= f.submit %></td>
  </tr>

</table>
<% end %>
