<%= form_for(@task, :url => (@task.new_record? ? story_tasks_path(:story_id => @story) : story_task_path(:story_id => @story, :id => @task.id))) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr class="field">
    <td class='labelCell'><%= f.label :title %></td>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr class="field">
    <td class='labelCell'><%= f.label :description %></td>
    <td><%= f.text_field :description %></td>
  </tr>
	<tr>  
		<td class='labelCell'><%= f.label :status %></td>
	  <td><%= select_tag :task_status, options_for_select(Task::STATUSES, :selected => @task.status), { :name => 'task[status]' } %></td>
	</tr>
  <tr class="field">
    <td class='labelCell'><%= f.label :estimate %></td>
    <td><%= f.text_field :estimate %></td>
  </tr>
  <tr class="field">
    <td class='labelCell'><%= f.label :remaining %></td>
    <td><%= f.text_field :remaining %></td>
  </tr>
  <tr class="actions">
    <td></td>
    <td><%= f.submit %></td>
  </tr>
</table>

<% end %>
