<%= form_for(@task, :url => (@task.new_record? ? story_tasks_path(:story_id => @story) : story_task_path(:story_id => @story, :id => @task.id))) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :estimate %><br />
    <%= f.text_field :estimate %>
  </div>
  <div class="field">
    <%= f.label :remaining %><br />
    <%= f.text_field :remaining %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
