- url = @task.new_record? ? story_tasks_path(:story_id => @story) : story_task_path(:story_id => @story, :id => @task.id)
= semantic_form_for(@task, :url => url) do |form|
  = form.inputs do
    = form.input :title
    = form.input :description, :as => :text
    = form.input :assignee, :collection => User.all
    = form.input :status, :as => :select, :collection => Task::STATUSES
    = form.input :estimate
    = form.input :remaining
  = form.buttons do
    = form.commit_button
    %li.button.cancel
      %input{ :type => 'submit', :name => 'cancel', :value => 'Cancel' }

:javascript
  $('.pageBody').taskForm();
