<% page_heading("Task - #{@task.title}") %>

<p>
  <b>Title:</b>
  <%= @task.title %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Estimate:</b>
  <%= @task.estimate %>
</p>

<p>
  <b>Remaining:</b>
  <%= @task.remaining %>
</p>


<%= link_to 'Edit', edit_story_task_path(@story, @task) %> |
<%= link_to 'Back', story_tasks_path(@story) %>
