- url = @user.new_record? ? users_path : user_path(@user)
= semantic_form_for(@user, :url => url) do |form|
  = form.inputs do
    = form.input :name
    = form.input :email
    = form.input :job_title
    = form.input :password
    = form.input :password_confirmation
    = form.input :profile, :as => :text
    = form.input :image
    = form.input :team, :collection => Team.all
  = form.buttons do
    = form.commit_button
    %li.button.cancel
      %input{ :type => 'submit', :name => 'cancel', :value => 'Cancel' }
