<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :id %>
<table>
	<tr>
    <td class='labelCell'><%= f.label :name %></td>
    <td><%= f.text_field :name %></td>
	</tr>
	<tr>  
		<td class='labelCell'><%= f.label :email %></td>
	  <td><%= f.text_field :email %></td>
	</tr>
	<tr>  
		<td class='labelCell'><%= f.label :team %></td>
	  <td><%= f.collection_select :team_id, Team.all, :id, :name, { :include_blank => true } %></td>
	</tr>
  <tr>
	  <td></td>
		<td><%= f.submit %></td>
	</tr>
</table>

<% end %>