%div.headerTabs
  %ul.tabBar
    %li= link_to 'Project', projects_path
    %li= link_to 'Release', releases_path
    %li= link_to 'Backlog', stories_path
    %li= link_to 'Sprints', stories_path
    %li= link_to 'Tasks', stories_path
  %ul.tabBar.tabBarRight
    %li= link_to 'Admin', teams_path
