%div.listItem
  %span.listItemTitle 
    = link_to "Sprint #{ sprint.title }", sprint_path(sprint.id)
  %br
  %span.listItemDetail= "#{sprint.story_count} stories, #{sprint.points_count} total points"
  %br
  - if can? :manage, sprint
    = link_to 'Edit', edit_sprint_path(sprint.id)
  = link_to 'Taskboard', taskboard_path(sprint.id)
