<div class='listItem'>
  <span class='listItemTitle'>Sprint <%= sprint.title %></span><br/>
  <span class='listItemDetail'><%= "#{sprint.start_date.to_s(:date)} - #{sprint.end_date.to_s(:date)}. " %></span><br/>
  <span class='listItemDetail'><%= "#{sprint.story_count} stories, #{sprint.points_count} total points" %></span><br/>
  <a href="<%= edit_sprint_path(sprint.id) %>">Edit</a>
  <a href="<%= sprint_path(sprint.id) %>">View</a>
</div>