%div.listItem
  %span.listItemTitle 
    = link_to "Sprint #{ sprint.title }", sprint_path(sprint.id)
    = status_badge(sprint)
  - if sprint.goal
    %br
    %span.listItemDetail= "Goal: #{ sprint.goal }"
  %br
  %span.listItemDetail= "#{sprint.story_count} stories, #{sprint.points_count} total points"
  %br
  - if can? :manage, sprint
    = link_to 'Edit', edit_sprint_path(sprint.id)
  = link_to 'Taskboard', taskboard_path(sprint.id)
  - if sprint.can_finish?
    = button_to 'Finish', sprint, :method => :finish
  - if sprint.can_delete?
    = button_to 'Delete', sprint, :method => :delete
