%table
  %tr
    %td Project
    %td= link_to @sprint.release.project.title, project_path(@sprint.release.project)
  %tr
    %td Release
    %td= link_to @sprint.release.title, release_path(@sprint.release)
  %tr
    %td Start Date
    %td= @sprint.start_date.to_s(:date)
  %tr
    %td End Date
    %td= @sprint.end_date.to_s(:date)
  %tr
    %td Story Count
    %td= @sprint.story_count
  %tr
    %td Total Points
    %td= @sprint.points_count
  %tr
    %td Total Hours
    %td
  %tr
    %td Hours Remaining
    %td
