<table>
  <tr><td>Start Date</td><td><%= @sprint.start_date.to_s(:date) %></td></tr>
  <tr><td>End Date</td><td><%= @sprint.end_date.to_s(:date) %></td></tr>
  <tr><td>Story Count</td><td><%= @sprint.story_count %></td></tr>
  <tr><td>Total Points</td><td><%= @sprint.points_count %></td></tr>
  <tr><td>Total Hours</td><td><%=  %></td></tr>
  <tr><td>Hours Remaining</td><td><%=  %></td></tr>
</table>