%div.taskPanel{:'data-story-id' => task.story.id.to_s, :'data-id' => task.id.to_s}
  %div.title
    %div.badgePanel
      = estimate_badge(task)
      = status_badge(task)
    = link_to task.title, edit_story_task_path(task.story, task)
  %div.description= task.description
  %div.description= "Assigned to #{task.assignee_name}"
