- story.tasks.select{|t| t.status == status}.each do |task|
  %div.taskPanel
    %div.title
      %div.badgePanel
        = estimate_badge(task)
        = status_badge(task)
      = task.title
    %div.description= task.description
    %div.description= "Assigned to #{task.assignee_name}"
