= page_heading("Task Board - Sprint - #{@sprint.title}")

%div.taskBoardMainPanel
  %div.subPanel
    = sub_heading 'Stories'
    = render :partial => 'taskboard_stories'
  %div.subPanel
    = sub_heading 'Not Started'

  %div.subPanel
    = sub_heading 'In Progress'

  %div.subPanel
    = sub_heading 'Done'

    
