= page_heading "Planning Sprint - #{@sprint.title}"

%div.leftPanel
  %div.subPanel
    = sub_heading 'Project Backlog'
    %div.listPanel
      - @stories.each do |story|
        = render story
%div.rightPanel
  %div.subPanel
    = sub_heading 'Committed Stories'
    %div.listPanel
      - @sprint.stories.each do |story|
        = render story
  %div.subPanel
    = sub_heading 'Statistics'


