<% page_heading("Sprint - #{@sprint.title}") %>

<div class='releaseMainPanel'>
  <div class='subPanel'>
    <%= sub_heading "Stories" %>
    <%= render :partial => "stories/story_detail", :collection => @sprint.stories, :as => :story  %>
  </div>
</div>

<div class='releaseSidePanel'>
  <div class='subPanel'>
    <%= sub_heading "Statistics" %>
    <%= render :partial => 'statistics', :object => @sprint %>
  </div>
  <div class='subPanel'>
    <%= sub_heading "Burndown Chart" %>
    <%= render :partial => 'burndown_chart', :object => @sprint %>
  </div>
</div>


