= page_heading("Sprint - #{@sprint.title}")

%div.releaseMainPanel
  %div.subPanel
    = sub_heading 'Sprint Goal'
    %div.listItem
      = truncate(@sprint.goal, :length => 250, :omission => '...')
      %br
      = link_to 'Edit', edit_sprint_path(@sprint.id)
      %br
      = link_to 'Open Taskboard', taskboard_path(@sprint.id)
  %div.subPanel
    = sub_heading 'Stories'
    = render :partial => 'stories/story_detail', :collection => @sprint.stories, :as => :story

%div.releaseSidePanel
  %div.subPanel
    = sub_heading 'Statistics'
    = render :partial => 'statistics', :object => @sprint
  %div.subPanel
    = sub_heading 'Burndown Chart'
    = render :partial => 'burndown_chart', :object => @sprint


