= page_heading("Task Board - Sprint - #{@sprint.title}")

%div.taskBoardMainPanel
  %div.taskBoardHeader
    %div.headerSubPanel
      = sub_heading 'Stories'
    %div.headerSubPanel
      = sub_heading 'Not Started'
    %div.headerSubPanel
      = sub_heading 'In Progress'
    %div.headerSubPanel
      = sub_heading 'Done'
  - @sprint.stories.each do |story|
    %div.taskBoardRow
      %div.subPanel
        %div.storyPanel
          %div.title= story.title
          %div.description= story.description
      %div.subPanel
      %div.subPanel
      %div.subPanel
