= page_heading("Task Board - Sprint - #{@sprint.title}")

%div.taskBoardMainPanel
  %div.taskBoardHeader
    %div.headerSubPanel
      = sub_heading 'Stories'
    %div.headerSubPanel
      = sub_heading 'Not Started'
    %div.headerSubPanel
      = sub_heading 'In Progress'
    %div.headerSubPanel
      = sub_heading 'Done'
  - @sprint.stories.each do |story|
    %div.taskBoardRow
      %div.subPanel
        = render 'story_panel', :story => story
      %div.subPanel.taskSubPanel{:'data-status' => 'not_started'}
        = render 'task_panels_for_story', :story => story, :status => :not_started
      %div.subPanel.taskSubPanel{:'data-status' => 'in_progress'}
        = render 'task_panels_for_story', :story => story, :status => :in_progress
      %div.subPanel.taskSubPanel{:'data-status' => 'done'}
        = render 'task_panels_for_story', :story => story, :status => :done
