= page_heading("Project - #{@project.title}")
= render @project.releases
- if can? :manage, @project
  = link_to 'Add Release', new_release_path(:parent => @project.id)
= link_to 'Back', projects_path
