<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :id %>
<table>
	<tr>
    <td class='labelCell'><%= f.label :title %></td>
    <td><%= f.text_field :title %></td>
	</tr>
	<tr>
	  <td class='labelCell'><%= f.label :description %></td>
  	<td><%= f.text_area :description %></td>
	</tr>
	<tr>  
		<td class='labelCell'><%= f.label :estimate %></td>
	  <td><%= f.text_field :estimate %></td>
	</tr>
	<tr>  
		<td class='labelCell'><%= f.label :status %></td>
	  <td><%= select_tag :story_status, options_for_select(Story::STATUSES, :selected => @story.status), { :name => 'story[status]' } %></td>
	</tr>
	<tr>  
		<td class='labelCell'><%= f.label :sprint %></td>
	  <td><%= f.collection_select :sprint_id, Sprint.all, :id, :title, { :include_blank => true } %></td>
	</tr>
  <tr>
	  <td></td>
		<td><%= f.submit %></td>
	</tr>
</table>

<% end %>