<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
	<tr>
    <td class='labelCell'><%= f.label :title %></td>
    <td><%= f.text_field :title %></td>
	</tr>
	<tr>
	  <td class='labelCell'><%= f.label :description %></td>
  	<td><%= f.text_area :description %></td>
	</tr>
	<tr>  
		<td class='labelCell'><%= f.label :estimate %></td>
	  <td><%= f.text_field :estimate %></td>
	</tr>
	<tr>
	  <td class='labelCell'><%= f.label :create_date %></td>
  	<td><%= f.datetime_select :create_date %></td>
	</tr>
  <tr>
	  <td></td>
		<td><%= f.submit %></td>
	</tr>
</table>

<% end %>