%table
  %tr
    %td Status
    %td= status_badge(@story)
  -if @story.sprint
    %tr
      %td Sprint
      %td= link_to @story.sprint.title, sprint_path(@story.sprint)
  %tr
    %td Original Estimate (story points)
    %td= @story.estimate
  %tr
    %td Effort Estimate (hours)
    %td= @story.tasks_estimate
  %tr
    %td Effort Remaining (hours)
    %td= @story.tasks_effort_remaining
  -if @story.sprint
    %tr
      %td{:colspan => 2}= link_to 'Open Taskboard', taskboard_path(@story.sprint.id)
