%div.listItem
  %span.listItemTitle= story.title
  %br
  %span.listItemDetail= story.description
  %br
  %span.listItemDetail= "Priority #{story.priority}."
  %br
  %span.listItemDetail= "#{story.tasks.length} tasks, #{story.tasks_estimate} total hours, #{story.tasks_effort_remaining} remaining."
  %br
  - if can? :manage, story
    %a{ :href => edit_story_path(story.id) } Edit
  %a{ :href => story_path(story.id) } View
