<div class='listItem' data-id='<%= story.id %>' data-priority='<%= story.priority %>'>
  <span class='listItemTitle'><a href="<%= edit_story_path(story.id) %>"><%= story.title %></a></span>
  <span class='listItemDetail'>&nbsp;&nbsp;&nbsp;&nbsp;<%= priority_badge(story) %>&nbsp;&nbsp;&nbsp;&nbsp;<%= status_badge(story) %>&nbsp;&nbsp;&nbsp;&nbsp;<%= sprint_badge(story) %></span><br/>
  <span class='listItemDetail'><%= story.description %></span>
  <span class='listItemDetail' style='float: right;'></span>
</div>
