= page_heading "Story - #{@story.title}"

%div.releaseMainPanel
  %div.subPanel
    = sub_heading 'Details'

    %table
      %tr
        %td Title:
        %td= @story.title
      %tr
        %td Description:
        %td= @story.description
      %tr
        %td Estimate:
        %td= @story.estimate
      %tr
        %td
        %td
          -if @story.sprint
            = "#{ @story.status } in "
            = link_to "Sprint #{ @story.sprint.title }", sprint_path(@story.sprint)
          -else
            = @story.status
    - if can? :manage, @story
      = link_to 'Edit', edit_story_path(@story)

  %div.subPanel
    = sub_heading 'Tasks'
    = render :partial => 'stories/task_detail', :collection => @story.tasks, :as => :task

%div.releaseSidePanel
  %div.subPanel
    = sub_heading 'History'
    = render :partial => 'history', :collection => @story.history, :as => :history
