= page_heading "Story - #{@story.title}"

%div.releaseMainPanel
  %div.subPanel
    = sub_heading 'Details'

    %div.listItem.noBorder
      %div.listItemTitle= @story.title
      %div.listItemDetail= @story.description
      - if can? :manage, @story
        = link_to 'Edit', edit_story_path(@story)

  %div.subPanel
    = sub_heading 'Tasks'
    = render :partial => 'stories/task_detail', :collection => @story.tasks, :as => :task
    - if @story.status == :committed && can?(:manage, @story)
      %div.listItem.noBorder
        = link_to 'New Task', new_story_task_path(@story)

%div.releaseSidePanel
  %div.subPanel
    = sub_heading 'Statistics'
    = render :partial => 'statistics', :object => @sprint

  %div.subPanel
    = sub_heading 'History'
    = render :partial => 'history', :collection => @story.history.sort{|h1, h2| h2.created_at <=> h1.created_at}, :as => :history
