<%= form_for(@release) do |f| %>
  <% if @release.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@release.errors.count, "error") %> prohibited this release from being saved:</h2>

      <ul>
      <% @release.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :id %>
  <%= f.hidden_field :project_id, :value => @project.id %>
<table>
	<tr>
    <td class='labelCell'><%= f.label :title %></td>
    <td><%= f.text_field :title %></td>
	</tr>
	<tr>
    <td class='labelCell'><%= f.label :sprint_length %></td>
    <td><%= f.text_field :sprint_length %></td>
	</tr>
	<tr>
    <td class='labelCell'><%= f.label :start_date %></td>
    <td><%= f.text_field :start_date %></td>
	</tr>
  <tr>
	  <td></td>
		<td><%= f.submit %></td>
	</tr>
</table>

<% end %>