<% page_heading("Release - #{@release.title}") %>

<div class='releaseMainPanel'>
  <div class='subPanel'>
    <%= sub_heading "Sprints" %>
    <%= render @release.sprints.sort_by { |sprint| sprint.start_date } %>
    <%= link_to 'Add Sprint', new_sprint_path(:parent => @release.id) %>
  </div>
</div>

<div class='releaseSidePanel'>
  <div class='subPanel'>
    <%= sub_heading "Statistics" %>
    <%= render :partial => 'statistics', :object => @release %>
  </div>
  <div class='subPanel'>
    <%= sub_heading "Burndown Chart" %>
    <%= render :partial => 'burndown_chart', :object => @release %>
  </div>
  <div class='subPanel'>
    <%= sub_heading "Velocity Chart" %>
    <%= render :partial => 'velocity_chart', :object => @release %>
  </div>
</div>

