<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'jquery-ui-1.8.10.custom.min' %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= render(:partial => "shared/menu") %>

<div class='pageTitle'><%= yield :title %></div>
<%= yield %>

</body>
</html>
