!!!
%html
  %head
    %title= yield :title
    = stylesheet_link_tag :all
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery-ui-1.8.10.custom.min'
    = javascript_include_tag 'rails'
    = javascript_include_tag 'jquery.jqplot.min'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    = render(:partial => 'shared/header_title')
    = render(:partial => 'shared/header_menu')
    = render(:partial => 'shared/header_tabs')

    - flash.each do |name, message|
      %div.flashMessage{:id => "flash_#{name}"}= message

    %div.pageTitle= yield :title
    %div.pageBody
      = yield
